<%# Write your code here! %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>
  </head>
  <body>
<form action="/greet" method="POST">
  Name:<br>
  <input type="text" name="user_name"><br>
  <input type="submit" value="Submit">
</form>
  </body>
</html>
